<form action="/api/photos" method="post" class="new-photo">
  <p>
    <label>Title:
    <input type="text" name="photo[title]" value=""></label>
  </p>

  <p>
    <label>URL:
    <input type="text" name="photo[url]" value="" ></label>
  </p>

  <p><input type="submit" value="Submit Photo"></p>
</form>
